altgraph==0.17.3
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
Deprecated==1.2.13
idna==3.4
imap-tools==1.0.0
jsonschema==4.17.3
mail-parser==3.15.0
pefile==2023.2.7
publicsuffixlist==0.9.3
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pymisp==2.4.169.2
pypiwin32==223
pyrsistent==0.19.3
python-dateutil==2.8.2
python-magic==0.4.27
pywin32==305
pywin32-ctypes==0.2.0
requests==2.28.2
simplejson==3.19.1
six==1.16.0
urllib3==1.26.15
wrapt==1.15.0
